@import url('./__container/authentication___container.css');
@import url('./__link/authentication__link.css');
@import url('./__nav/authentication__nav.css');

.authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
}